<ion-nav-view name="tab-dash"></ion-nav-view>

<div class="tabs-striped tabs-top tabs-background-positive tabs-color-light">
  <div class="tabs">
    <a class="tab-item" class="#" ng-class="{'active':selectedTab == 0}" ng-click="selectTabWithIndex(0);">
      <i class="icon ion-home"></i>
    </a>
    <a class="tab-item" href="#" ng-class="{'active':selectedTab == 1}" ng-click="selectTabWithIndex(1)">
      <i class="icon ion-star"></i>
      Favorites
    </a>
    <a class="tab-item" href="#" ng-class="{'active':selectedTab == 2}" ng-click="selectTabWithIndex(2)">
      <i class="icon ion-gear-a"></i>
      Settings
    </a>
  </div>
</div>

